{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project {{ project.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'projects/project-style.css' %}">
    
</head>
<body>

    <main>

        <div class="project-data">
            <img src="{{ project.logo }}" alt="" class="logo">
            <div class="title">StepAcademy</div>
        </div>
        
        <div class="project-images-list">
            {% for image in project.images %}
                <img src="{{ image.image }}" onclick="location.assign({{ image.image }})">
            {% endfor %}
        </div>
        
        <p class="project-description">{{ project.description }}</p>
        
    </main>
    
    <div class="order-too" onclick="location.assign('/orders/create/')">Заказать также</div>
    
    <footer>
        <p class="text"> © 2025 Company. Все права защищены.  
Связаться: info@company.com | Telegram: @company_support  
Сделано с заботой о каждом проекте ❤️</p>
    </footer>

<script>
    // setInterval(() => {location.reload()}, 600)
</script>
</body>
</html>