{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заказ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'orders/form.css' %}">
</head>
<body>
    <main>
    
    <div class="company-title">Company</div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="error-text">{{ error }}</div>
        <div class="form-title">Заказ проекта</div>
        <div class="input-box">
            <i class="fas fa-t"></i>
            <input name="title" type="text" placeholder="Название проекта...">
        </div>
        <div class="input-box">
            <i class="fas fa-d"></i>
            <textarea name="description" placeholder="Опишите проект"></textarea>
        </div>
        <div class="input-box">
            <i class="fas fa-phone"></i>
            <input name="phone" type="tel" placeholder="Введите телефон номера для ознакомления...">
        </div>
        <button id="submit">Оставить заявку</button>
    </form>
    
    </main>
<script>
    // setInterval(() => {location.reload()}, 1000)
</script>
</body>
</html>