{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ order.title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'orders/orders.css' %}">
</head>
<body>

    <header>
        <div class="company-title order-view-header">{{ order.title }}</div>
    </header>
    <main>
        
        <p class="view-description">{{ order.description }}</p>
        <div class="view-status">{{ order.status }}</div>
        
    </main>
    <footer>
        <p class="text"> © 2025 Company. Все права защищены.  
Связаться: info@company.com | Telegram: @company_support  
Сделано с заботой о каждом проекте ❤️</p>
    </footer>
<br>
<br>
<br>
<br>
<br>
</body>
</html>