{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'user/register.css' %}">
</head>
<body>
    <main>
    
    <div class="company-title">Company</div>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ error }}
        <h2>Точно хотите выйти</h2>
        <button id="submit">Авторизация</button>
    </form>
    
    </main>
<script>
    // setInterval(() => {location.reload()}, 1000)
</script>
</body>
</html>